* {
  font-family: sans-serif;
  text-decoration: none;
}
body {
  justify-content: center;
}
.container {
  color: rgb(0, 0, 0);
  background-color: #ffeeff;
  height: 150vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container h1 {
  color: #ff5983;
  font-size: 30px;
}
.container p {
  font-size: 20px;
}

table {
  /* border: 1px solid grey; */
  /* background-color: #ffeeff; */
  height: 60vh;
}
table p b {
  color: rgb(212, 38, 38);
  font-size: 20px;
}

table form {
  font-size: 15px;
  font-weight: 500;
}

td {
  width: "100";
  /* margin: 100px; */
  /* color: rgb(8, 8, 8); */
}
input {
  color: rgb(12, 12, 12);
  width: 90%;
  /* height: 15px; */
  border-radius: 1px;
}
#result {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #ff4081;
  font-size: 20px;
  width: 50%;
  padding: 5px 5px;
}
.date {
  font-weight: 500;
}
.date-red {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;

}
.table-condensed input {
    /* color: red; */
    height: 20px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;

}
.table-condensed {
  /* background-color: rgb(84, 106, 119); */
  width: 100%;
}

select {
  width: 20%;
  height: 35px;
  font-weight: bold;
  border-radius: 8px;
  padding-left: 8px;
}
.result-value {
  height: 25px;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 10px;
  font-size: 15px;
}
.date1{
    font-weight: bold;
}
